* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  margin: none;
  padding: none;
  background-color: black;
}

/* header {
  height: 100vh;
  margin: none;
  padding: none;
} */
/* 
.wrapper_header {
  position: relative;
}

#button-section {
  position: absolute;
  bottom: 50px;
} */



/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

.bg {
  /* The image used */
  background-image: url("../../img/Welcome_to_section_E2.png");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-btnn{
  padding-top: 300px;
}